<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>010124' django notes for pipenv demo4</title>
</head>
<body>
    <h2><i>0101 django notes demo4</i></h2>

    <a href="#botpg" id="topg">Link to page bottom</a> <br> <br>
    <a href="0101_homepage.html">Link to 0101_homepage w/ git install demo</a> <br>
    <p>
        _________# django notes demo4 <br>------------------------<br>
        <br>
    </p>


    <br>
    <a href="#topg" id="botpg">Link to page top</a> <br>
</body>
</html>