<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        p {border: 2px blue dashed; padding: 5px 0 10px 5px; border-radius: 5px 0 25px 0;}

    </style>
    <title>0103 django serializers notes</title>
</head>
<body>
    <h2>0103 django serializers notes</h2>
    <a href="#botpg" id="topg">Link to page bottom</a> <br>
    <a href="0101_homepage.html">Link to 0101_homepage w/ git install demo</a> <br>
    <br>
    <p>
        #models.py  <br>--------------<br>
        <sup>
        <a href="from" class="from">from</a> django.db <a href="import" class="import">import</a> models <br>
        </sup> <br>
        <a href="class" class="class">class</a> <i><b>MenuItem</b></i>(models.Model): <br>
        .. title = models.CharField(max_length=255) <br>
        .. price = models.DecimalField(max_digits=6, decimal_places=2) <br>
        .. inventory = models.SmallIntegerField() <br>
        <br>

    </p>
    <p>
        ________# serializers.py ex0103 <br>---------------<br><sup>
        <a href="from" class="from">from</a> rest_framework <a href="import" class="import">import</a> serializers <br>
        </sup><br>
        <a href="class" class="class">class</a> <b>MenuItemSerializer</b>(serializers.Serializer):<br>
        .. id = serializers.IntegerField() <br>
        .. title = serializers.CharField(max_length=255) <br>
        .. price = serializers.DecimalField(max_digits=6, decimal_places=2) <br>
        .. inventory = serializers.IntegerField() <br>
        <br>
        <hr>
        <br>
        ________# modelSerializer ex0103 <br>------------------<br>
        <sup>
        <a href="from" class="from">from</a> rest_framework <a href="import" class="import">import</a> serializers <br>
        <a href="from" class="from">from</a> .models <a href="import" class="import">import</a> <i><b>MenuItem</b></i> <br>
        </sup><br>
        <br>
        <a href="class" class="class">class</a> <b>MenuItemSerializer</b>(serializers.ModelSerializer): <br>
        .. <a href="class" class="class">class</a> Meta: <br>
        ...... model = <i><b>MenuItem</b></i> <br>
        ...... fields = [<a href="list" id="list">'id', 'title', 'price', 'inventory'</a>] <br>
    <hr>
        <br>
        # to change the label from inventory to stock <br>
        <br>
        <a href="class" class="class">class</a> <b>MenuItemSerializer</b>(serializers.ModelSerializer): <br>
        .. stock = serializers.IntegerField(source='inventory') <br>
        .. <a href="class" class="class">class</a> Meta: <br>
        ...... model = <i><b>MenuItem</b></i> <br>
        ...... fields = [<a href="list" id="list">'id', 'title', 'price', 'stock'</a>] <br>
    <hr>
    <br><br>
        # add a new method called calculate_tax <br>
        <br>
        <a href="class" class="class">class</a> <b>MenuItemSerializer</b>(serializers.ModelSerializer): <br>
        .. stock = serializers.IntegerField(source='inventory') <br>
        .. price_after_tax = serializers.SerializerMethodField(method_name = 'calculate_tax') <br><br>
        .. <a href="class" class="class">class</a> Meta: <br>
        ...... model = <i><b>MenuItem</b></i> <br>
        ...... fields = [<a href="list" id="list">'id', 'title', 'price', 'stock', 'price_after_tax'</a>] <br>
        <br>
        .. <a href="def" class="def">def</a> <i>calculate_tax</i>(self, product:<b><i>MenuItem</i></b>): <br>
        ...... <a href="return" class="return">return</a> product.price * Decimal(1.1) <br>
        <br>
    <hr>


    </p>
    <p>
        #views.py  ex0103 <br>-----------------<br>
        <sup>
            <a href="from" class="from">from</a> .models <a href="import" class="import">import</a> <i><b>MenuItem</b></i> <br>
            <a href="from" class="from">from</a> .serializers <a href="import" class="import">import</a> <b>MenuItemSerializer</b> <br>
            <a href="from" class="from">from</a> rest_framework.response <a href="import" class="import">import</a> Response <br>
            <a href="from" class="from">from</a> rest_framework.decorators <a href="import" class="import">import</a> api_view <br>
        </sup>
        <br>
        <a href="api_view" class="apiview">@api_view()</a> <br>
        <a href="def" class="def">def</a> <i>menu_items</i>(request): <br>
        .. items = <i><b>MenuItem</b></i>.objects.all() <br>
        .. serialized_item = <b>MenuItemSerializer</b>(items, many=True) <br>
        .. <a href="return" class="return">return</a> <b>Response</b>(serialized_items.data) <br>
        <br>
        <a href="api_view" class="apiview">@api_view()</a> <br>
        <a href="def" class="def">def</a> <i>single_item</i>(request, id): <br>
        .. items = <i><b>MenuItem</b></i>.objects.get(pk=id) <br>
        .. serialized_item = <b>MenuItemSerializer</b>(item) <br>
        .. <a href="return" class="return">return</a> <b>Response</b>(serialized_items.data) <br>
        <br>
    </p>
    <p>
        # urls.py <br>------------<br>
        <sup>
        <a href="from" class="from">from</a> django.urls <a href="import" class="import">import</a> path <br>
        <a href="from" class="from">from</a> . <a href="import" class="import">import</a> views <br>
        </sup>
        <br>
        <i>urlpatterns</i> = [<br>
        .. path('menu-items/', views.<i>menu_items</i>, <br>
        .. path('menu-items/< int:id>', views.<i>single_item</i>
        ]<br>
    </p>
    <br><br>
    <a href="#topg" id="botpg">Link to page top</a>
</body>
</html>